#createForm{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    width: 300px;
    align-items: flex-end;
}

#createPostButton{
    width: 8rem;
    height: 2rem;
    font-size: 15px;
    background-color: #cad2c5;
    color: #2f3e46;
    margin-top: 10px;
}

#createPostButton:hover{
    font-weight: bolder;
}