#entireHeader {
    /* border: solid red; */
  color: #cad2c5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#headerTitle {
    /* border: solid black; */
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.links {
/* border: solid green; */
  display: flex;
  justify-content: right;
  font-size: 20px;
  text-decoration: none;
  color: #cad2c5;
}

.links:hover {
    font-weight: bold;
}

#logOut{
  width: 100px;
  border: solid red;
  display:flex;
  align-items: center;
}