body {
  background-color: #354f52;
  color: #cad2c5;
}

/* Css for Header Links */

.item {
  text-decoration: none;
  display: flex;
  justify-content: right;
  color: #cad2c5;
}

.item:hover {
  font-weight: bolder;
}

#postTitle {
  font-size: 35px;
  border: solid #cad2c5;
  background-color: #2f3e46;
}

#postPrice {
  border: solid red;
  font-size: 15px;
  color: #ecf39e;
}

#viewPost{
  border: solid black;
}
#viewPost:hover{
  font-weight: bolder;
}

#postUsername {
  font-size: 20px;
  font-style: italic;
}

#postDescription {
  font-size: 20px;
}
